@import "./../../global.scss";

.content-score {
    color: $colorTextInDark !important;
    width: 30%;
    height: fit-content;
    margin: 20px;
    border: 1px solid #80808045;
    border-radius: 20px;
    @media screen and (max-width: 1300px) {
        width: 100%;
        margin: 0px;
        margin-bottom: 20px;
    }
    .header-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            text-align: center !important;
            margin-top: 20px;
            margin-left: 30px;
            @media screen and (max-width: 1300px) {
                text-align: left;
            }
        }

        .anticon {
            color: $darkBlue;
            font-size: 1.5rem;
            transition: all 0.4s ease;
            margin-right: 30px;
        }
        .transition {
            transform: rotateZ(-90deg);
        }
    }

    p {
        color: black;
        font-size: 1.1rem;
        font-weight: bold;
        // text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .list {
        margin-bottom: 50px;
        transition: all 0.4s ease;
        .item-list {
            padding: 10px 30px;
            display: flex;
            // justify-content: space-between;
            font-size: 1.1rem;
            font-weight: bold;
            align-items: center;
            .index {
                margin-right: 10px;
                width: 50px;
            }
            p {
                color: black;
                margin: 0px;
            }

            @media screen and (max-width: 1300px) {
                .info-score {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}
